<!DOCTYPE html>
<html>
  <head>
    <title>پرتال</title>
    {{> style}}
  </head>

  <body>
    <div class="main">

      <div class="logo-part">
        <div class="circle-border">
          <div class="circle-border-2">
            <div class="circle-center">
              <img src="Untitled-1.png" alt="logo">
            </div>
          </div>
        </div>
      </div>

      <div class="second-rect">
        <h2 style="text-align:center; margin:auto;">پرتال ورود یکپارچه اعضا</h2>
      </div>
      <div class="button">
        <p>Created by mh S - Copy right {{curYear}}</p>
      </div>
      <h4>You visited this webserver at {{curDate}}</h4>
    </div>
  </body>
</html>
