<html>

<head>
  <title>پرتال</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="main">

    <div class="logo-part">
      <div class="circle-border">
        <div class="circle-border-2">
          <div class="circle-center">
            <img src="Untitled-1.png" alt="logo">
          </div>
        </div>
      </div>
    </div>

    <div class="second-rect">
      <h2 style="text-align:center; margin:auto;">پرتال ورود یکپارچه اعضا</h2>
    </div>

  </div>
</body>

</html>
